@{
    ViewData["Title"] = "O filmu";
}
<h2>@ViewData["Title"]</h2>
<p>*Preuzeto sa Wikipedije, slobodne enciklopedije.</p>
<br />
<br />
<br />
<p>
    Kao i drugi oblici umjetnosti, film je namijenjen publici.
    Filmovi se gledaju u posebnom prostoru za projekciju (kino), ili bilo gdje drugdje (video).
    Film se često spominje kao sedma umjetnost, kao što je strip nazvan devetom umjetnošću.
</p>

<p>
    Filmsko djelo je cjelovit te društveno i doživljajno svrhovit filmski proizvod.
    Film i kinematografiju sustavno proučava humanističko-znanstvena disciplina filmologija.
</p>

<h3>Nijemi film</h3>
<p>
    U Parizu je 22. ožujka 1895. godine prikazan film braće Lumière "Izlazak radnika iz tvornice". 
    To je bila prva filmska predstava na svijetu. 
    Trajala je tek nekoliko minuta, a priređivačima je donijela prihod od 35 franaka 
    jer je toj projekciji prisustvovalo svega 35 gledatelja koji su platili cijenu ulaznice od po 1 franak. 
    Zanimljivo je spomenuti kako je toj prvoj projekciji prisustvovao i sam Georges Méliès 
    koji se inače smatra "ocem animacije" odnosno ocem filmskog pravca koji nazivamo fikcijom-snovima.
</p>

<h3>Zvučni film</h3>
<p>
    Sinkronizaciju filma, tj. istovremeno odvijanje slike i zvuka, omogućila je fotostanica. 
    Prvi zvučni film službeno je prikazan 1927. u Americi, a nosio je naziv "Pjevač jazza" ili "Jazz pjevač". 
    U glavnoj ulozi bio je glumac Al Jolson, a treba spomenuti da se sinkronizacija nije odnosila na cjelokupan film. 
    Naime, samo dijelovi koji su se odnosili na glazbene točke bili su sinkronizirani, 
    a ostali igrani dijelovi bili su projicirani kao i prijašnji filmovi.
</p>