@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    Visoka škola za informacijske tehnologije<br />
    Klaićeva 7, 10000 Zagreb<br />
</address>

<address>
    <strong>Podrška:</strong> <a href="mailto:dimolnar@vsite.hr">dimolnar@vsite.hr</a><br />
</address>
